body {
  overflow-x: hidden !important;
}

.ax-hidden {
  visibility: hidden;
  position: absolute;
}
.carousel {
  --carousel-height: 400px;
  --carousel-width: 1000px;
  --carousel-item-height: 100px;
  --carousel-item-width: 100px;
  overflow-x: hidden;
  width: 100%;
}
.carousel-container {
  align-items: center;
  display: flex;
  overflow: hidden;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
}

.carousel-name {
  max-height: 100px;
}

.carousel-text {
  max-height: 70px;
  text-align: center;
}

.carousel-item {
  max-height: 200px;
}

.carousel-item {
  border-color: #ffe501 !important;
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 1s ease-in-out;
  width: var(--carousel-item-width);
  /* z-index: 0; */
}

.carousel-text,
.carousel-name {
  color: white;
  position: absolute;
  transform: translateX(-50%);
  transition: all 1s ease-in-out;
}

.carousel-item-1,
.carousel-item-3 {
  height: calc(var(--carousel-item-height) * 1);
  opacity: 1;
  width: calc(var(--carousel-item-width) * 1);
  border-color: #ffe501;
  border-radius: 50%;
  outline-color: #ffe501;
  z-index: 1;
  border: none;
}
.carousel-item-1 {
  left: 30%;
  opacity: 0.5;
  z-index: 1;
}
.carousel-item-2 {
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  border: 5px solid #ffe501;
  left: 50%;
  background-color: white;
  z-index: 3;
  outline: none;
  border-radius: 50%;
  width: calc(var(--carousel-item-width) * 2);
}
.carousel-item-3 {
  left: 70%;
  opacity: 0.5;
  z-index: 2;
}

.carousel-text{
  font-family: 'outfit';
  font-size: 18px;
}

.carousel-text-2,
.carousel-name-2 {
  left: 50%;
}

.carousel-text-1,
.carousel-name-1 {
  left: 000%;
  font-size: 0px;
  opacity: 0;
  overflow: hidden;
  /* display: none; */
}

.carousel-text-3,
.carousel-name-3 {
  left: 100%;
  font-size: 0px;
  overflow: hidden;
  opacity: 0;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  align-items: baseline;
  margin-block: 0px;
  margin-block: -70px;
  /* margin: auto; */
  align-items: center;
  left: 50%;
  width: 80%;
  /* max-width: 114; */
  transform: translate(-50%);
  position: absolute;
  /* margin: 30px 0; */
}
.carousel-control {
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  color: #aaa;
  cursor: pointer;
  outline: none;
  height: 22px;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  width: 22px;
}
.carousel-control:hover {
  transform: scale(1.3);
}
.carousel-control-previous {
  background-image: url(/assests/Group_45.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffe501;
}
.carousel-control-next {
  background-image: url(/assests/Group_29.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffe501;
}
.carousel-control-add::after {
  height: 10px;
  left: 8px;
  top: 4px;
  width: 2px;
}

.carousel-name {
  top: 65%;
  font-family: 'clash';
  font-size: 24px;
  font-weight: 600;
  /* margin-top: 100px; */
  transition: all 1s ease;
}
